body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.logo {
    margin-bottom: 20px;
}

.logo h1 {
    margin: 0;
    font-size: 2.5em;
}

.logo p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.welcome h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.categories, .services {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category-list, .service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.category, .service {
    background-color: #4682b4;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.category:hover, .service:hover {
    background-color: #5a9bd6;
}

footer {
    background-color: #4682b4;
    color: white;
    padding: 20px;
    text-align: initial;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.user-options {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.user-option {
    background-color: #4682b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.user-option:first-child {
    margin-left: 0;
}

.user-option:last-child {
    margin-left: 10px;
}

.user-option:last-child span {
    margin-left: 0;
}

.user-option:hover {
    background-color: #5a9bd6;
}

.login-form input {
    padding: 20px;
    font-size: 1.5em;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn {
    background-color: #4682b4;
    color: white;
    padding: 15px 40px;
    border: 2px solid #4682b4;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: white;
    color: #4682b4;
}

.help-btn {
    background-color: #4682b4;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -2em;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.help-btn:hover {
    background-color: #5a9bd6;
}
